{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- archivos css -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!-- Boxicon css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Productos</title>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <!-- Logo descargado de flaticon  -->
                <img src="{% static 'img/iot.png' %}" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">Daniel Gonzalez</span>
                <!-- <span class="profession">Web developer</span>  -->
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="search...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/Dashboard">
                        <i class='bx bxs-dashboard icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Dispositivos">
                        <i class='bx bx-devices icon'></i>
                        <span class="text nav-text">Dispositivos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Estadisticas">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Estadisticas</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Alarmas">
                        <i class='bx bxs-alarm-exclamation icon'></i>
                        <span class="text nav-text">Alarmas</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Tableros">
                        <i class='bx bx-chalkboard icon'></i>
                        <span class="text nav-text">Tableros</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/Productos">
                        <i class='bx bxl-product-hunt icon'></i>
                        <span class="text nav-text">Productos</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/CerrarSesion">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Cerrar sesion</span>
                </a>
            </li>

            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>

                </div>

            </li>
        </div>
    </div>
</nav>

<section class="home">
    <div class="text">Productos</div>
</section>


<script src="{% static 'js/script.js' %}"></script>
</body>
</html>