<!-- templates/reset_password_form.html -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
</head>
<body>

  <h1>Restablecer Contraseña</h1>

  <form method="post" action="{% url 'Reset-passwordPage' %}">
    {% csrf_token %}
    <label for="id_email">Correo Electrónico:</label>
    <input type="email" name="email" id="id_email" required>
    <button type="submit">Enviar Correo de Restablecimiento</button>
  </form>

</body>
</html>
